<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
</head>
<body>
    
    <header class="header">
        <img src="images/logo.png" id="logo" alt="">

        <nav class="navbar">
            <a href="#">home</a>
            <a href="#">register</a>
            <a href="#">main_disease</a>
            <a href="#">today wock doctor</a>
            <a href="#">contact</a>
        </nav>

        <div class="icons">
            <div id="menubar" class="fas fa-bars"></div>
            <a href="#">contact</a>
        </div>
    </header>

    <div class="background-image">
        <div class="background-content">
            <h1>provide an exceptional <br> patient experience</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessit<br>atibus reiciendis eos saepe vitae quibusdam corrupti ip<br> ipsa asperiores reprehenderit </p>

        </div>
    </div>

    <div class="registation">
        <div class="main-about">
            <div class="inner-about">
                <div class="about-content">
                    <h1>Student Registation</h1>
                    <p> It is free and only takes a minute</p>
                <body>
                    <div id="container">
                        <div class="form-wrap">
                           
                            <form>
                                <div class = "form-group">
                                    <label for="R_number">Register number</label>
                                    <input type="text" name="R_number" id = "R_number">
                                </div>                        
                                <div class = "form-group">
                                    <label for="frist-name">Frist Name</label>
                                    <input type="text" name="first-name" id = "first_name">
                                </div>
                                <div class = "form-group">
                                    <label for="last-name">Last Name</label>
                                    <input type="text" name="last-name" id = "last_name">
                                </div>
                                <div class = "form-group">
                                    <label for="age">Age</label>
                                    <input type="text" name="age" id = "age">
                                </div>
                                <div class = "form-group">
                                    <label for="email">email</label>
                                    <input type="text" name="email" id = "email">
                                </div>
                                <div class = "form-group">
                                    <label for="hor">Hostel_or_not</label>
                                    <input type="text" name="hor" id = "hor">
                                </div>
                                <div class = "form-group">
                                    <label for="fcution">Fuction</label>
                                    <input type="text" name="fcution" id = "fcution">
                                </div>
                                <button type = "Submit">sign up</button>
                            </form>
                            <footer> 
                                <p>Already Have an Account?<a href="#">Loging Here</a></p>
                            </footer>
        
                    </div>
                    </body>              
                </div>
                
            </div>
            <div class="inner-about">
                <div class="inner-about-image">
                    <img src="images/chiness.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

