<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <img src="images/logo.png" id="logo" alt="">
        <a href="/student/updatestudent/<%=data.R_number%>?edit=true" class="btn">Edit</a>
        <nav class="navbar">
            <a href="/views/index.ejs">home</a>
            <a href="/views/student_register.ejs">register</a>
            <a href="/update">main_disease</a>
            <a href="#">today wock doctor</a>
            <a href="#">contact</a>
        </nav>
    
        <div class="icons">
            <div id="menubar" class="fas fa-bars"></div>
            <a href="#">contact</a>
        </div>
    </header>  
</body>
</html>
