<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ody>
    <div id="container">
        <div class="form-wrap">
            <p> it is free and only takes a minute</p>
            <form action="http://localhost:4000/api/student/add" method="POST">
                <div class = "form-group">
                    <label for="R_number">Register number</label>
                    <input type="int" name="R_number" id = "R_number">
                </div>     
                </form>
                </div>
                </div>

    
</body>
</html>